@import-noralize;
@import './font.css';

*, *::before, *::after {
  font-family: Gotham Rounded, sans-serif;
}

html {
  font-size: 14px;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
.mainContainer {
  padding: 20px;
}

.card--actions {
  margin-top: -200px;
}

.card--actions__tag {
  margin-bottom: 20px;
}


