@import-noralize;
@import './font.css';

*, *::before, *::after {
  font-family: Gotham Rounded, sans-serif;
}

html {
  font-size: 14px;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
.mainContainer {
  padding: 20px;
}


.listContainer {
  display: flex;
  }

.listActions {
display: flex;
height: 30px;
width: 400px;
margin-bottom: 20px;
}

.selectBox {
  height: 30px;
  margin-right: 20px;
}
.searchBox {
  height: 24px;
}

.listElement {
  flex: 1;
}

.card--actions {
  margin-top: -200px;
}

.card--actions__tag {
  margin-bottom: 20px;
}


